*{background-color: skyblue;
    text-align: center;
}
h1{color: blue;
font-family: 'Times New Roman', Times, serif;    
}
h2{color:brown;
font-family: Georgia;
font-size: medium;
}
.EY{
color: maroon;
}
.Siguenos{
    color: navy;
}