*{background-color: skyblue;
text-align: center;
}
h2{color: brown;
font-family: 'Times';
}
h3{color:purple;
font-family: Lucida Bright;    
}
h1{color:blue;
}
.EY{
    color: maroon;
}
.siguenos{
    color: navy;
}